* {
	box-sizing: border-box;
}

body {
	background: #e9ecef;
}

#main{
	padding: 15px;
	background: #e9ecef;
}

h3 {
	text-align: center;
}

#content-wrapper {
	margin: 0 auto;
	max-width: 600px;
	background: #e9ecef;
}

#resultList {
	display: none;
}

.row_item:hover{
	cursor: pointer !important;
}

.page404{
	margin-top: 30px;
	text-align: center;
	border: 1px solid #b1b1b1;
}

#resultList {
	margin-top: 15px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(158,158,158,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(158,158,158,1);
	box-shadow: 0px 0px 2px 0px rgba(158,158,158,1);
}



